dist/
build/
test_files/
test_logs/
test_workflows/*.xml
test_workflows/*.ksh
test_workflows/*.properties
test_workflows/*.wld
test_workflows-git/*
Ibis.egg-info
/.idea/
/.idea_modules/
*.iml
.DS_Store
*.pyc
*.log
row_data.txt
ibis/utilities/tests/fixtures/AUTO_it-tables.txt
ibis/utilities/tests/fixtures/MANUAL_it-tables.txt